.header__container {
    display: grid;
    grid-template-columns: 0.05fr 0.05fr 0.8fr 1fr 0.02fr;
    grid-gap: 1rem;
    align-items: center;
}

.header__logo-alura {
    width: 35px;
    height: 70px;
}

.header__logo {
    justify-self: flex-end;
}

.header__text-1{
    justify-content: flex-start;
}

.header__text-2 {
    justify-self: flex-end;
}

.header__text-titulo1, .header__text-titulo2 {
    color: #47E5BC;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 1rem;
}



/* -------------  Media Querys ---------------- */



@media screen and (max-width:1378px) {  
    .header__logo-alura {
        width: 30px;
        height: 70px;
    }
    .header__text-titulo1, .header__text-titulo2 {
        font-size: 28px;
        font-weight: 400;
        margin-top: 1rem;
    }
}

@media screen and (max-width:992px) {  
    .header__logo-alura {
        width: 25px;
        height: 60px;
    }
    .header__text-titulo1, .header__text-titulo2 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 1rem;
    }
}
   
@media screen and (max-width:768px) {  
    .header__container {
        height: 45px;
    }

    .header__logo-alura {
        width: 20px;
        height: 45px;
    }

    .header__text-titulo1, .header__text-titulo2 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
   
@media screen and (max-width: 600px) {  
    .header__container {
        height: 45px;
    }

    .header__logo-alura {
        width: 20px;
        height: 45px;
    }

    .header__text-titulo1, .header__text-titulo2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 560px) {  
    .header__container {
        margin-bottom: 1.2rem;
    }
}


@media screen and (max-width: 480px) {  
    .header__container {
        width: 470px;
        margin-left: auto;
        margin-right: auto;
    }
     
    .header__logo-alura {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 40px;
        height: 70px;
    }
        
    .header__text-1 {
       position: absolute;
       top: 10px;
       left: 52px;
    }
 
    .header__text-2 {
        position: absolute;
        top: 40px;
        left: 52px;
    }
       
    .header__text-titulo1, .header__text-titulo2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
   

@media screen and (max-width: 420px) {  
    .header__container {
        margin-bottom: 2rem;
    }
}   

@media screen and (max-width: 360px) {  
    .header__container {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
        
    .header__logo-alura {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 30px;
        height: 50px;
    }
       
    .header__text-1 {
       position: absolute;
       top: 7px;
       left: 48px;
    }
      
    .header__text-2 {
        position: absolute;
        top: 30px;
        left: 48px;       
    }

    .header__text-titulo1, .header__text-titulo2 {
        font-size: 14px;
        font-weight: 400;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
   


