* {
    box-sizing: content-box;
}

body {
    background: #2a2e3f;
}

/* Seccion de Contenedores */

.flexbox_Container-Main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
 }

.flex-container_Header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    border-radius: 26px;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    
}
  
.titulo2 {
    margin-left: auto;
}

.flex-container-content {
    background: #3d315b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
   
    border-radius: 26px;
    align-items: center;
    justify-content: center;
    
    width: 1280px;
    /* height: 670px; */
    padding: 1rem;
}

.flex-container-areaInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 820px;
}
       
    

.flex-container-areaOutput {
    background: #444B6E;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    border-radius: 26px;
    align-items: center; 
    justify-items: center;
    width: 440px;
    height: 41rem;
    z-index: 1;
}

.flex-container-btnsAreaInput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
    align-items: flex-start;
    width: 95%;
    margin-top: 10px;
}

.btnDel {
   margin-left: auto;
} 

.flex-container-btnsAreaOutput {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    justify-self: baseline;
    margin-top: 1rem;
    
}

.flex-container-footer {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    width: 70%;
}

.flex-container-footerElemts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
       
    justify-content:space-around;
    margin-top: 15px;
    width: 65%;
}

.flex-container-infoDev {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

/* Seccion diseño Elmentos area Header */

.LogoAlura {
    margin-top: 10px;
    width: 70px;
    height: 48px;
}   

.titulo1, .titulo2 {
    color: #47E5BC;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 1rem;
}
     
/* Seccion diseño Elmentos area input */

.areaInput {
 background-color: #A2A3BB;
 color:   #3D315B;
 font-size: 22px;
 font-weight: 400;
 font-family: 'Roboto', sans-serif;

 width: 90%;
 height: 550px;
 padding: 20px;
 border-radius: 26px;
 resize: none;

}
 
.areaInput::placeholder {
    color: #444B6E; 
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.4;
    font-family: 'Oswald', sans-serif;
    transition: opacity 0.5s ease-in-out;
}

.advertencia {
    width: 90%;
    /* border: 1px solid black; */
    /* align-self: baseline;  */ 
    margin-left: 0.5rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
    z-index: 5;
    align-items:flex-start;
    justify-content: flex-start;
    
    
}
   
.advMsg {
    /* color:  #47E5BC;  */
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    
}    

 /* Seccion diseño Elmentos area output */
 
 .areaOuput {
     color:   #47E5BC;
     font-size: 22px;
     font-weight: 400;
     font-family: 'Roboto', sans-serif;
          
     margin-top: 10px;
     width: 380px;
     padding: 20px;
  }
     

  .areaImgRes{
     
    
     z-index: 5;
     width: 320px;
     height: 270px;
     /* top: 50px; */
     align-items: center;
     justify-content: center;
     margin-top: 3rem;
     
     
  }

 
 .textoTip {
     width: 340px;
     height: 80px;
     color:#47E5BC;
     font-family: 'Oswald', sans-serif;
     font-size: 26px;
     font-weight: 400;
 
     align-self: center;
     justify-self: center;
    /*  margin-left: 4.5rem; */
 }
     
.msgCop {
    width: 210px;
    height: 80px;
    color:#47E5BC;
    text-decoration: solid;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: 800;

     align-self: center;
     justify-self: baseline;
     margin-top: 4rem;
       
    
}    

.btnEnc, .btnDesnc, .btnDel, .btnCopiar {
    text-transform: uppercase;
    background-color: #47E5BC;
    width: 200px;
    height: 45px;
    border-radius: 26px;
    border-color:#3D315B;
    border-width: 3px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 800;
}
    
.btnEnc:hover, .btnDesnc:hover,.btnDel:hover, .btnCopiar:hover {
    background-color: lime;
    cursor: pointer;
}
      
.btnEnc:active, .btnDesnc:active,.btnDel:active, .btnCopiar:active {
    background-color: red;
    color: white;
    cursor: pointer;
}

/* Seccion diseño Elmentos Especiales para ocultos */

#botonCopiar {
    display: none;
    z-index: 10;
}

#TextoTipOup {
    display: block;
}

#ImgNotRes {
    display: block;
  }

#MsgTCopiado {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#MsgTCopiado.show {
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Seccion diseño Elmentos area footer */

.logoAluraLatam {
    width: 70px;
    height: 50px;
}

.logoOracleOne {
    width: 90px;
    height: 50px;
}

.logoGithub {
    width: 70px;
    height: 50px;
}

.logoLinkedin {
    width: 70px;
    height: 50px;
}

a:hover img {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.infoDev {
    left: 51%;
    top: 96%;
    transform: translate(-50%, -50%);
}


.cc {
    color:   #47E5BC;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
}

.cc a {
    text-decoration: none;
    color: #47E5BC;
}

.cc a:hover {
    color: aqua;
}



