



/* -------------------------  ***HEADER START***   -------------------------  */ 

.header__logo-alura {
    width: 44px;
    height: 88px;
}

.footer__logos {
    width: 70px;
    height: 50px;
}

.footer__logos-wide {
    width: 90px;
    height: 50px;
}


.header__container {
    background-color: aquamarine;
    border: 1px black solid;
}

/* -------------------------  ***HEADER END***  -------------------------  */ 

.main__container {

    background-color: darkgoldenrod;
    border: 1px black solid;

}


/* -------------------------  ***TEXT_INPUT START***   -------------------------  */ 

.area__input {
    background-color: darkgoldenrod;
    border: 1px black solid;
}














/* -------------------------  ***TEXT_INPUT END***   -------------------------  */ 

/* -------------------------  ***TEXT_OUTPUT START***   -------------------------  */ 
.area__output {
    background-color: cornflowerblue;
    border: 1px black solid;
}







/* -------------------------  ***TEXT_OUTPUT END***   -------------------------  */ 

/* -------------------------  ***FOOTER START***   -------------------------  */ 

.footer__container {
    background-color: darkolivegreen;
    border: 1px black solid;
}




/* -------------------------  ***FOOTER END***   -------------------------  */ 